/* src/styles/Unity.css */
.unity-container {
    width: 100%;
    max-width: 1200px;
    margin: 1rem auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 0.3rem;
    padding: 1rem;
    overflow: hidden;
  }
  
  .app.light .unity-container {
    background: rgba(0, 0, 0, 0.05);
  }
  
  .unity-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .back-arrow {
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    margin-bottom: 0.5rem;
  }
  
  .app.light .back-arrow {
    color: #000;
  }
  
  .back-arrow:hover {
    color: #00d4ff;
  }
  
  .app.light .back-arrow:hover {
    color: #008cba;
  }